service vendor.power-hal-1-2 /vendor/bin/hw/android.hardware.power@1.2-service.xiaomi_raphael
    class hal
    user system
    group system

on init
    chown system system /dev/input/event3
    chmod 0666 /dev/input/event3
