service vendor.camera-motor-1-0 /vendor/bin/hw/vendor.lineage.camera.motor@1.0-service.xiaomi_raphael
    interface vendor.lineage.camera.motor@1.0::ICameraMotor default
    class hal
    user vendor
    group vendor
    shutdown critical
